
<h1 style="text-align: center"> Quiz Application</h1>
<hr>
<div class="container">
<h3>Ask questions about what resources you are and are not permitted to use.</h3>

<p>Class books? All books? Blackboard materials? Your own class notes? The internet? Your
    classmates? Your friends and family? During the virtual learning period, faculty may
    allow you to use more resources than they would in a classroom exam, but you should
    not assume that is permitted. Faculty make deliberate choices about why you are
    allowed to use certain resources, if any. Ask any questions you may have so that you
    are following the expectations. Remember that you and faculty are coming from and
    adjusting to in diverse backgrounds and settings. Rather than assuming you and your
    teacher have a common understanding, take the steps to create it</p>

    <h3>Learn the best pathways to seek and receive clarification about
        expectations.</h3>
        
    <p>Sometimes, students begin a project believing they understand the
        boundaries of integrity. As they progress, they find new questions arise. Before you
        begin an exam or a project, ask your teacher how you can get clarification from them
        during the project or exam.
    </p>

    <h3>Good Luck!! :) </h3>
    <hr>

</div>

